<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/layout :: layout(~{::title}, ~{::section})">

<head>
	<title>Thể Loại</title>

</head>

<body>
	<section>
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/post">Post</a>
				</li>
				<li class="breadcrumb-item active">Thêm mới</li>
			</ol>

			<div class="card mx-auto mt-5" style="max-width: 70rem;">
				<div class="card-header">Thông tin chung</div>
				<div class="card-body">
					<form action="#" th:action="@{/user}" th:object="${user}" method="post">						
						<div class="form-group">
							<div class="form-label-group">
								<input type="text" th:field="*{username}" id="inputUsername" class="form-control" placeholder="Username" 
									required="required">
								<label for="inputUsername">Username</label>
								<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-label-group">
								<input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Mật Khẩu" 
									required="required">
								<label for="inputPassword">Mật Khẩu</label>
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
							</div>
						</div>
						
						<button class="btn btn-primary btn-block" type="submit">Save</a>
					</form>
					
				</div>
			</div>
		</div>

	</section>

</body>

</html>