<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/layout/layout :: layout(~{::title}, ~{::section})">

<head>
	<title>Thể Loại</title>
</head>

<body>
	<section>
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/category">Category</a>
				</li>
				<li class="breadcrumb-item active">Cập nhật</li>
			</ol>

			<div class="card card-register mx-auto mt-5">
				<div class="card-header">Thông tin chung</div>
				<div class="card-body">
					<form action="#" th:action="@{/category/{id}(id=${category.id})}" th:object="${category}"
						method="post" enctype="multipart/form-data">
						<div class="form-group">
							<div class="form-label-group">
								<input type="text" th:field="*{categoryName}" id="inputCategoryName"
									class="form-control" placeholder="Tên danh mục" required="required">
								<label for="inputCategoryName">Tên danh mục</label>
								<span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<input type="file" name="imagePath" class="form-control-file"/>
							<image th:src="@{/files/{image}(image=${category.image})}" class="img-thumbnail">
						</div>
						<button class="btn btn-primary btn-block" type="submit">Save</a>
					</form>
					
				</div>
			</div>
		</div>
	</section>

</body>

</html>